body {
  background-size: cover;
  background: url(images/clouds2.jpg) no-repeat;
  flex-direction: column;
  font-family: 'Indie Flower', cursive;

}

body,
.container {
  display: flex;
}

h1 {
  border-bottom: 2px solid black;
  font-size: 40px;
  margin: 40px auto 0 auto;
  width: 500px;
}

h1,
.message {
  font-weight: bold;
}

.container {
  justify-content: center;
  margin: auto;
  width: 60%;
}

#snake-game {
  background: url(images/airplane.png) no-repeat;
}

h1,
.message,
.position-of-buttons {
  text-align: center;
}

.message {
  color: black;
  font-size: 30px;
  height: 30px;
  margin: 30px auto;
  padding-top: 10px;
  width: 40%;
}

.position-of-buttons {
  display: inline-block;
  height: 60px;
  margin-top: 5px;
  margin: auto;
  width: 30%;
}

button {
  background-color: #60646A;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  height: 40px;
  margin: 10px 20px 0 20px;
  width: 90px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .container {
    width: 100%;
  }
  #snake-game {
    width: 100%;
  }
}
