body {
  background: url(images/clouds2.jpg) no-repeat;
  background-size: cover;
  flex-direction: column;
  font-family: 'Indie Flower', cursive;
}

body,
.container {
  display: flex;
}

h1 {
  border-bottom: 2px solid black;
  font-size: 40px;
  margin: 40px auto 0 auto;
  width: 500px;
}

h1,
.message {
  font-weight: bold;
}

.container {
  justify-content: center;
  margin: auto;
  width: 60%;
}

#snake-game {
  background: url(images/airplane.png) no-repeat;
}

h1,
.message,
.position-of-buttons {
  text-align: center;
}

.message {
  color: black;
  height: 30px;
  margin: 30px auto;
  padding-top: 10px;
  width: 40%;
}

.message, .start {
  font-size: 30px;
}

.start {
  font-weight: bold;
  height: 60px;
  margin-top: 5px;
  margin: auto;
  width: 30%;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .container {
    width: 100%;
  }
  #snake-game {
    width: 100%;
  }
}
